* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: flex;
  color: #31D2F7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #000000, #e74c3c);
}

h1 {
  text-align: center;
  background-color: black;
  color: #e74c3c;
}

h4 {
  padding: 50px;
  text-align: center;
}

h5 {
  text-align: center; 
}

input {
  background-color: white;
}

.container {
  border: 5px solid #e74c3c;
  padding: 100px;
}

.button {
  text-align: center;
  padding: 50px;
  color: white;
}

.btn-secondary {
  color: red;
  padding: 10px;
}

#enter-number {
  text-align:center; 
}

#robot-error {
  display: none; 
}